.the-card {
    padding: 10px 0;
    margin-bottom: 10px;
}
.the-card .title {
    font-size: 24px;
    color: #333;
    line-height: 32px;
    margin-bottom: 8px;
    text-indent: 10px;
}
.the-card .poster {
    position: relative;
}
.the-card .poster-dec {
    position: absolute;
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    bottom: 0;
    padding: 16px;
}
.the-card .info {
    padding: 16px;
    font-size: 14px;
    color: rgba(0,0,0,.87);
}
.the-card .button {
    margin-left: 16px;
}